<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Captioning</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
</head>

<body>
    <header>
        <h1>Image Captioning</h1>
    </header>

    <nav>
        <a href="\index">Home</a>
        <a href="\captioning">Captioning Model</a>
        <a href="\about">About Us</a>
        <a href="\contact">Contact Us</a>
    </nav>

    <section id="contact" class="active">
        <h2>Contact Us</h2>
        <p>If you have any questions or would like to collaborate, feel free to reach out to us via email!</p>
        <p><strong>Email: </strong><a href="mailto:anuragpandey15095@gmail.com">anuragpandey15095@gmail.com</a></p>
    </section>

    <div style="padding-bottom: 1000px;"></div>
    <footer>
        <p>All rights reserved.</p>
    </footer>
</body>
</html>